# --- JAVA & MAVEN ---
target/
*.class
*.jar
*.war
*.ear
*.nar
*.stackdump
hs_err_pid*
HELP.md

# --- ECLIPSE ---
.settings/
.project
.classpath
.metadata/
bin/
*.launch
.factorypath
.springBeans

# --- IDEs ADICIONAIS (Caso algum colega use) ---
.idea/
*.iml
.vscode/

# --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db

# --- CONFIGURAÇÕES LOCAIS ---
# Descomente se você tiver senhas ou chaves em arquivos locais
# application-local.yaml
# .env